@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  /* убираем стандартную нумерацию */
  list-style: none;
  /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
  counter-reset: li;
}
ol li:before {
  /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
  counter-increment: li;
  /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
  content: counters(li, ".") ". ";
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.page {
  font-family: "Montserrat";
}
.page__wrapper {
  min-height: 100%;
  overflow: hidden;
}
.page__conteiner {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 20px 0;
  border-bottom: 1px dashed #888;
}
@media (max-width: 1182px) {
  .page__conteiner {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .page__conteiner {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .page__conteiner {
    max-width: none;
    padding: 0 10px;
  }
}
.page--lock {
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  background-color: #007397;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 56px;
  line-height: 56px;
  text-transform: uppercase;
  min-width: 270px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn::after {
  content: "";
  background-color: #014d64;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.5s ease 0s;
}
.btn:hover::after {
  width: 100%;
  left: 0;
}
@media (max-width: 1182px) {
  .btn {
    font-size: 14px;
    height: 46px;
    line-height: 46px;
  }
}
@media (max-width: 767.98px) {
  .btn {
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 46px;
    line-height: 16px;
  }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0px 0px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.header__row {
  display: flex;
}
.header__logo {
  margin: 0 10px 0 0;
}
.header__link {
  color: #000;
}
.header__link:hover {
  color: #888;
}
.header__column {
  flex: 0 0 auto;
}
.header__text {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0 0 0;
}
.header__text--l {
  font-size: 18px;
}

.content__title {
  padding: 17px 0;
  font-weight: 700;
}
.content__title--1 {
  font-size: 32px;
}
.content__title--2 {
  font-size: 22px;
}
.content__img {
  text-align: center;
}
.content__list--ul li {
  list-style: square;
  margin: 0 0 15px 15px;
}
.content__sublist {
  margin: 15px 0 0 15px;
}
.content__item {
  margin: 0 0 15px 0;
}
.content__item p {
  margin: 10px 0 0 0;
}

.text-bold {
  font-weight: 700;
}

.footer__text {
  margin: 20px 0 0 0;
  text-align: center;
}
.footer__link {
  text-decoration: underline;
  font-weight: 700;
  color: #000;
}